<footer>
    <div class="row">
        <div class="col-6">
            <div class="d-flex flex-row align-items-center ml-5">
                <span id="copyright" class="mr-3"> &copy; 2018 Copyright: geoMosbach.de</span>
                <span> <a routerLink=""> Impressum</a></span>

            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-row-reverse align-items-center ml-5">
                <span id="back-to-top"class="mr-5 d-flex align-items-center justify-content-center"><a href="/menu#Kategorien"> <mdb-icon fas icon="arrow-up" class="white-text" size="2x"></mdb-icon> </a></span>
                

            </div>
        </div>
    </div>
</footer>