
  a{
    color: #812323 ;
  }
  #back-to-top{
    bottom: 90px; 
    right: 30px; 
    box-shadow:  0 2px 5px 1px rgba(107,104,104,.5);
    position: fixed; 
    z-index: 1000; 
    outline: none; 
    background-color: #812323;
    color: white; 
    cursor: pointer; 
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
  #copyright{
    color: #747373;
  }
  .row{
    max-width: 100%;
  }
  @media (max-width: 576px) { 
    
    #copyright{
        margin-bottom:8px;
    }
  }
 
