
<footer>
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <div class="d-flex flex-row align-items-center ml-5">
                <span id="copyright" class="mr-3"> &copy; 2020 Copyright: geoMosbach.de</span>
                <span> <a routerLink="/impressum"> Impressum und Datenschutzerklärung</a></span>

            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-row-reverse align-items-center ml-5">
                <span id="back-to-top" class="d-flex align-items-center justify-content-center" (click)="scrollToTop()"> <mdb-icon fas icon="arrow-up" class="white-text" size="2x"></mdb-icon></span>
            </div>
        </div>
    </div>
</footer>