
  a{
    color: #812323 ;
  }
  .footer-overlay {
    position: fixed; 
    z-index: 1000; 
    border: 1px solid white; 
    outline: none; 
    background-color:#812323 ;
    color: white; 
    cursor: pointer; 
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
  #back-to-top{
    bottom: 20px; 
    right: 20px; 
  }
  #chat-bot{
    bottom: 75px; 
    right: 20px; 
  }
  #chat-bot mdb-icon{
    transform: translateY(18px);
  }

  display-to-top-button{
    display: inline !important;
  }
  #copyright{
    color: #747373;
  }
  .row{
    max-width: 100%;
  }
  @media (max-width: 576px) { 
    
    #copyright{
        margin-bottom:8px;
    }
  }
 
