
<div *ngIf="category">{{category.name}}</div>
<div id="menucontainer" class="container-fluid">
    <div class="d-flex flex-row ">
        <div *ngFor="let category of categories" class="col-sm-3 d-flex align-items-stretch ">

            <a routerLink="{{category.title}}">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>{{category.title}}</h4>
                        </mdb-card-title>
                        <mdb-card-text>{{category.description}}</mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </a>
            
        </div>
    </div>
</div>
<router-outlet></router-outlet>
