.map-col{
    min-height: max-content;
}
.checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius:2px ;

}
.row{
   padding: 20px 0;
    margin: 3% 0;
   
}
#mapid{ 
    height: 350px; 
    width: 100%;
}
#mapcontainer{
    background-color: lightgray;
    border-radius: 10px;
}
#menucontainer{
    border-bottom: 1px solid lightslategrey;
    border-top: 1px solid lightslategrey;
    padding: 20px 0;
}
.sub{
    background-color: white;
    border-radius: 5px;

}
#mapid{
    border: 1px solid white;
    border-radius: 5px;
}

mdb-card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
   
}
mdb-card{
    transition: 0.5s;
}
a{
    width: 100%;
    
}
