{% extends "admin/base.html" %}
{% load footer %}

{% block title %} 
    GeoMosbach Datenpflege 
{% endblock %}

{% block extrahead %} 
    <link rel="shortcut icon" type="image/ico" href="/media/logo/favicon.ico"/>
{% endblock %}

{% block branding %}
    <span>
        <div class="navbar-brand">
            <h1 style="color:whitesmoke;"><a href="/"><img src="/media/logo/logo.png" width="30" height="30" class="" alt=""></a> GeoMosbach Datenpflege</h1>
        </div>
    </span>
{% endblock %}


{% block footer %}
    {% admin_footer %}
{% endblock %}