<div id="mapcontainer" class="container-fluid ">
    <div class="row">
        <div id="subcategory" class="col-sm-3 map-col d-flex flex-column">
            <div class="row mb-0 pb-0 animated bounceInLeft"
                [ngClass]="{'hideSelectedCategories': checkEmptySelectedCategories()}">
                <h4>Ausgewählte Points-Of-Interest</h4>
            </div>
            <hr [ngClass]="{'hideSelectedCategoriesHr': checkEmptySelectedCategories()}" class="animated bounceInLeft">
            <div *ngFor="let selectedSubcategory of selectedSubcategories">
                <div id="{{selectedSubcategory.id}}" class="row sub selected-sub animated bounceInLeft" (mouseover)="toogleHoverAnimation(selectedSubcategory.id,'selected-checkbox', 'selected-checkbox-hover')" (mouseout)="toogleHoverAnimation(selectedSubcategory.id,'selected-checkbox', 'selected-checkbox-hover')"
                    (click)="toggleSubcategory(selectedSubcategory); removePOIsFromMap(selectedSubcategory.id)">
                    <div class="col-10 pr-0" style="overflow: hidden;">
                        <div class="d-flex flex-column">
                            <div id="selected-category-tag">
                                <small>{{getCategoryTitleBySubcategoryID(selectedSubcategory.id_category)}}</small>
                            </div>
                            <div>
                                
                                {{selectedSubcategory.title}}
                            </div>
                        </div>

                    </div>
                    <div class="col-2 pl-0 d-flex justify-content-end">
                        <div class="d-flex flex-column">
                            <div>&nbsp;</div>
                            <div class="checkbox selected-checkbox"></div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="row mb-0 pb-0">
                <h4>Points-Of-Interest</h4>
            </div>
            <hr>
            <div *ngFor="let subcategory of subcategoriesFromCategory">
                <div id="{{subcategory.id}}"class="row sub animated bounceInLeft subcategory" (click)="toggleSubcategory(subcategory)" (mouseover)="toogleHoverAnimation(subcategory.id,'subcategory-checkbox', 'subcategory-checkbox-hover')" (mouseout)="toogleHoverAnimation(subcategory.id,'subcategory-checkbox', 'subcategory-checkbox-hover')"
                    [ngClass]="{'clickDisable': disableClick(subcategory)}">
                    <div class="col-10 pr-0" style="overflow: hidden;">
                       
                        {{subcategory.title}}
                    </div>
                    <div class="col-2 d-flex justify-content-end pl-0">
                        <div class="checkbox subcategory-checkbox"></div>
                        
                    </div>
                </div>

            </div>

        </div>
        <div id="map " class="col-sm-9 map-col">
            <div class="row mb-0">
                <div id="mapid">
                </div>
            </div>
            <div *ngIf="checkIfDisplayMapInfo()" class="row" class="mt-0">
                <div id="map-info" class="animated bounceInLeft">
                    <div *ngIf="price" class="mb-2">
                        <h4>Preise</h4>
                        <div>{{price.price}}</div>
                    </div>
                    <div *ngIf="openingHours" class="mb-2">
                        <h4>Öffnungszeiten</h4>
                        <table>
                            <tr>
                                <td><b>Montag: </b></td>
                                <td>{{openingHours.monday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.monday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Dienstag: </b></td>
                                <td>{{openingHours.tuesday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.tuesday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Mittwoch: </b></td>
                                <td>{{openingHours.wednesday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.wednesday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Donnerstag: </b></td>
                                <td>{{openingHours.thursday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.thursday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Freitag: </b></td>
                                <td>{{openingHours.friday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.friday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Samstag: </b></td>
                                <td>{{openingHours.saturday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.saturday[1]}}</td>
                            </tr>
                            <tr>
                                <td><b>Sonntag: </b></td>
                                <td>{{openingHours.sunday[0]}}</td>
                                <td>bis</td>
                                <td>{{openingHours.sunday[1]}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>