
<div id="mapcontainer" class="container-fluid">
    <div class="row">
        <div id="subcategory" class="col-sm-3 map-col d-flex flex-column">
            <div *ngFor="let subcategory of subcategories">
                <div class="row sub">
                    <div class="col-8"> {{subcategory.title}}</div>
                    <div class="col-4 d-flex justify-content-end">
                        <div class="checkbox"></div>
                    </div>
                </div>

            </div>

        </div>
        <div id="map " class="col-sm-9 map-col">

            <div id="mapid"></div>
        </div>

    </div>

</div>