.map-col{
    min-height: max-content;
}
.checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid #812323;
    border-radius:2px ;

}
.row{
   padding: 20px 0;
   margin: 3% 0;
   margin-top: 0;
   
}
.sub{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
#mapid{
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    height: 70vh; 
    width: 100%;
}
.selected-checkbox{
    background-color:#812323;
    border-color:#812323;
    transition: 0.2s;
}
.selected-sub{
    border-bottom: 2px solid #812323;
}
.selected-sub:hover{
    border-bottom: 2px solid rgba(129, 35, 35,.3);
}
.selected-checkbox-hover{
    background-color: rgba(129, 35, 35,.3);
    transition: 0.2s;
}
#map-info{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    height: fit-content;
    min-height: 50px;
    width: 100%;
    padding: 10px;
}

/* .header-row{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
} */
.clickDisable{
    pointer-events: none;
}
.hideSelectedCategories{
    display:none;
}
.hideSelectedCategoriesHr{
    display:none;
}
hr{
    margin-left: 0;
    margin-right: 0;
  /* border-color: black; */
}
#selected-category-tag{
    color: #747373;
}

td{
    padding-right: 5px;
}
.subcategory{
    transition: 0.2s;
}
.subcategory:hover{
    border-bottom: 2px solid rgba(129, 35, 35,.3);;
    transition: 0.2s;
}
.subcategory-checkbox-hover{
    background-color: rgba(129, 35, 35,.3);
    transition: 0.2s;
}

