<div class="container mt-5 mb-5">
	Rein private Seite von Studenten der DHBW Mosbach.
    <h1>Impressum</h1><br>

    <h4>Dienstanbieter</h4>
    <p>Simon Gensler<br>
        Waltershauers Str. 3<br>
        97618 Hollstadt<br>
        Deutschland
    </p>
    <h4>Kontaktmöglichkeiten</h4>
    <p>
        <b>E-Mail-Adresse: hallo at simongensler punkt de</b><br>
        <b>Telefon: 06261/82-208</b><br>
	<b>Fax: 06261/82-249</b><br>
    </p>
    <h4>Vertretungsberechtigte</h4>
    <p>
    <b>Vertretungsberechtigt: Simon Gensler </b>
    </p>
    <h4>Journalistisch-redaktionelle Angebote</h4>
    <p>
        <b>Inhaltlich verantwortlich: Simon Gensler</b>
    </p>

    <h4>Haftungs- und Urheberrechtshinweise</h4>
    <p>
        <b>Haftungsausschluss:</b>Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen
        Kenntnisstand erstellt,
        dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung,
        sofern es sich nicht um gesetzlich verpflichtende Informationen
        (z.B. das Impressum, die Datenschutzerklärung, AGB oder Widerrufsbelehrungen für Verbraucher)
        handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen,
        soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und unverbindlich. <br>
    </p>
    <h1 class="mt-5">Datenschutzerklärung</h1><br>
    <h4>Einleitung</h4>
    <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen
        Daten (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten.
        Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im
        Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen
        sowie innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend
        bezeichnet als "Onlineangebot“).
        Die verwendeten Begriffe sind nicht geschlechtsspezifisch.
        Stand: 16. Januar 2020
    </p>
    <h4>Inhaltsübersicht</h4>

    <ul>
        <li>Einleitung</li>
        <li>Verantwortlicher</li>
        <li>Übersicht der Verarbeitungen</li>
        <li>Kontakt Datenschutzbeauftragter</li>
        <li>Maßgebliche Rechtsgrundlagen</li>
        <li>Sicherheitsmaßnahmen</li>
        <li>Einsatz von Cookies</li>
        <li>Chatbots und Chatfunktionen</li>
        <li>Bereitstellung des Onlineangebotes und Webhosting</li>
        <li>Plugins und eingebettete Funktionen sowie Inhalte</li>

    </ul>

    <h4>Verantwortlicher</h4>
    <p>Simon Gensler<br>
        Waltershauser Str. 3<br>
        97618 Hollstadt<br>
        Deutschland
    </p>
    <b>Vertretungsberechtigt: Simon Gensler</b><br>
    <b>E-Mail-Adresse: hallo at simongensler punkt de</b><br>
    <h4>Kontakt Datenschutzbeauftragter</h4>
    Simon Gensler<br>
    hallo at simongensler punkt de<br>
    Telefon: 06261/82-208<br>
    <h4>Übersicht der Verarbeitungen</h4>
    <p>Die nachfolgende Übersicht fasst die Arten
        der verarbeiteten Daten und die Zwecke ihrer
        Verarbeitung zusammen und verweist auf die betroffenen Personen.
    </p>
    <h5>Arten der verarbeiteten Daten</h5>
    <ul>
        <li>Bestandsdaten (z.B. Namen, Adressen).</li>
        <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).</li>
        <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
        <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
        <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>

    </ul>
    <h5>Kategorien betroffener Personen</h5>
    <ul>
        <li>Kommunikationspartner.</li>
        <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
    </ul>
    <h5>Zwecke der Verarbeitung</h5>
    <ul>
        <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit</li>
        <li>Besuchsaktionsauswertung.</li>
        <li>Direktmarketing (z.B. per E-Mail oder postalisch).</li>
        <li>Kontaktanfragen und Kommunikation.</li>
        <li>Konversionsmessung (Messung der Effektivität von Marketingmaßnahmen).</li>
        <li>Profiling (Erstellen von Nutzerprofilen).</li>
        <li>Remarketing.</li>
        <li>Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).</li>
        <li>Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies).</li>
        <li>Vertragliche Leistungen und Service.</li>
    </ul>
    <h5>Maßgebliche Rechtsgrundlagen</h5>
    <p>Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf deren Basis wir die
        personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass zusätzlich zu den Regelungen der DSGVO die
        nationalen Datenschutzvorgaben in Ihrem bzw. unserem Wohn- und Sitzland gelten können.
    </p>
    <ul>
        <li><b>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO) </b>- Die betroffene Person hat ihre Einwilligung in die
            Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen Zweck oder mehrere
            bestimmte Zwecke gegeben.</li>
        <li><b>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b. DSGVO) </b>- Die Verarbeitung
            ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung
            vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.
        </li>
        <li><b>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)</b>) - Die Verarbeitung ist zur Wahrung der
            berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen
            oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
            erfordern, überwiegen.
        </li>
    </ul>
    <p> <b>Nationale Datenschutzregelungen in Deutschland: </b>Zusätzlich zu den Datenschutzregelungen der
        Datenschutz-Grundverordnung gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört
        insbesondere
        das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz
        –
        BDSG). Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum
        Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere
        Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling.
        Des
        Weiteren regelt es die Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im
        Hinblick auf die Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung
        von
        Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.</p>

    <h4>Sicherheitsmaßnahmen</h4>
    <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
        Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
        unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
        natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
        Schutzniveau zu gewährleisten.
        Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten
        durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs,
        der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
        Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf
        die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits
        bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des
        Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.
    </p>
    <p><b>Kürzung der IP-Adresse: </b>Sofern es uns möglich ist oder eine Speicherung der IP-Adresse nicht erforderlich
        ist, kürzen wir oder lassen Ihre IP-Adresse kürzen. Im Fall der Kürzung der IP-Adresse, auch als "IP-Masking"
        bezeichnet, wird das letzte Oktett, d.h., die letzten beiden Zahlen einer IP-Adresse, gelöscht (die IP-Adresse
        ist in diesem Kontext eine einem Internetanschluss durch den Online-Zugangs-Provider individuell zugeordnete
        Kennung). Mit der Kürzung der IP-Adresse soll die Identifizierung einer Person anhand ihrer IP-Adresse
        verhindert oder wesentlich erschwert werden.
    </p>
    <p><b>SSL-Verschlüsselung (https): </b>Um Ihre via unser Online-Angebot übermittelten Daten zu schützen, nutzen wir
        eine SSL-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der
        Adresszeile Ihres Browsers.
    </p>
    <h4>Einsatz von Cookies</h4>
    <p>Cookies sind Textdateien, die Daten von besuchten Websites oder Domains enthalten und von einem Browser auf dem
        Computer des Benutzers gespeichert werden. Ein Cookie dient in erster Linie dazu, die Informationen über einen
        Benutzer während oder nach seinem Besuch innerhalb eines Onlineangebotes zu speichern. Zu den gespeicherten
        Angaben können z.B. die Spracheinstellungen auf einer Webseite, der Loginstatus, ein Warenkorb oder die Stelle,
        an der ein Video geschaut wurde, gehören. Zu dem Begriff der Cookies zählen wir ferner andere Technologien, die
        die gleichen Funktionen wie Cookies erfüllen (z.B., wenn Angaben der Nutzer anhand pseudonymer
        Onlinekennzeichnungen gespeichert werden, auch als "Nutzer-IDs" bezeichnet)</p>
    <b>Die folgenden Cookie-Typen und Funktionen werden unterschieden:</b>
    <ul>
        <li><b>Temporäre Cookies (auch: Session- oder Sitzungs-Cookies):</b> Temporäre Cookies werden spätestens
            gelöscht, nachdem ein Nutzer ein Online-Angebot verlassen und seinen Browser geschlossen hat.
        </li>
        <li><b>Permanente Cookies: </b> Permanente Cookies bleiben auch nach dem Schließen des Browsers gespeichert. So
            kann beispielsweise der Login-Status gespeichert oder bevorzugte Inhalte direkt angezeigt werden, wenn der
            Nutzer eine Website erneut besucht. Ebenso können die Interessen von Nutzern, die zur Reichweitenmessung
            oder zu Marketingzwecken verwendet werden, in einem solchen Cookie gespeichert werden.
        </li>
        <li><b>First-Party-Cookies: </b>First-Party-Cookies werden von uns selbst gesetzt.
        </li>
        <li><b>Third-Party-Cookies (auch: Drittanbieter-Cookies): </b>Drittanbieter-Cookies werden hauptsächlich von
            Werbetreibenden (sog. Dritten) verwendet, um Benutzerinformationen zu verarbeiten.
        </li>
        <li><b>Notwendige (auch: essentielle oder unbedingt erforderliche) Cookies: </b>Cookies können zum einen für den
            Betrieb einer Webseite unbedingt erforderlich sein (z.B. um Logins oder andere Nutzereingaben zu speichern
            oder aus Gründen der Sicherheit).
        </li>
        <li><b>Statistik-, Marketing- und Personalisierungs-Cookies</b>Ferner werden Cookies im Regelfall auch im Rahmen
            der Reichweitenmessung eingesetzt sowie dann, wenn die Interessen eines Nutzers oder sein Verhalten (z.B.
            Betrachten bestimmter Inhalte, Nutzen von Funktionen etc.) auf einzelnen Webseiten in einem Nutzerprofil
            gespeichert werden. Solche Profile dienen dazu, den Nutzern z.B. Inhalte anzuzeigen, die ihren potentiellen
            Interessen entsprechen. Dieses Verfahren wird auch als "Tracking", d.h., Nachverfolgung der potentiellen
            Interessen der Nutzer bezeichnet. . Soweit wir Cookies oder "Tracking"-Technologien einsetzen, informieren
            wir Sie gesondert in unserer Datenschutzerklärung oder im Rahmen der Einholung einer Einwilligung.
        </li>
    </ul>
    <p><b>Hinweise zu Rechtsgrundlagen:</b>Auf welcher Rechtsgrundlage wir Ihre personenbezogenen Daten mit Hilfe von
        Cookies verarbeiten, hängt davon ab, ob wir Sie um eine Einwilligung bitten. Falls dies zutrifft und Sie in die
        Nutzung von Cookies einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten die erklärte Einwilligung.
        Andernfalls werden die mithilfe von Cookies verarbeiteten Daten auf Grundlage unserer berechtigten Interessen
        (z.B. an einem betriebswirtschaftlichen Betrieb unseres Onlineangebotes und dessen Verbesserung) verarbeitet
        oder, wenn der Einsatz von Cookies erforderlich ist, um unsere vertraglichen Verpflichtungen zu erfüllen.
    </p>
    <p><b>Allgemeine Hinweise zum Widerruf und Widerspruch (Opt-Out): </b>
        Abhängig davon, ob die Verarbeitung auf Grundlage einer Einwilligung oder gesetzlichen Erlaubnis erfolgt, haben
        Sie jederzeit die Möglichkeit, eine erteilte Einwilligung zu widerrufen oder der Verarbeitung Ihrer Daten durch
        Cookie-Technologien zu widersprechen (zusammenfassend als "Opt-Out" bezeichnet). Sie können Ihren Widerspruch
        zunächst mittels der Einstellungen Ihres Browsers erklären, z.B., indem Sie die Nutzung von Cookies deaktivieren
        (wobei hierdurch auch die Funktionsfähigkeit unseres Onlineangebotes eingeschränkt werden kann). Ein Widerspruch
        gegen den Einsatz von Cookies zu Zwecken des Onlinemarketings kann auch mittels einer Vielzahl von Diensten, vor
        allem im Fall des Trackings, über die Webseiten <a
            href=">http://optout.aboutads.info">http://optout.aboutads.info</a> und
        <a href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a> erklärt werden. Daneben können
        Sie weitere Widerspruchshinweise im Rahmen der
        Angaben zu den eingesetzten Dienstleistern und Cookies erhalten.<br>
        <b>Verarbeitung von Cookie-Daten auf Grundlage einer Einwilligung: </b>Bevor wir Daten im Rahmen der Nutzung von
        Cookies verarbeiten oder verarbeiten lassen, bitten wir die Nutzer um eine jederzeit widerrufbare Einwilligung.
        Bevor die Einwilligung nicht ausgesprochen wurde, werden allenfalls Cookies eingesetzt, die für den Betrieb
        unseres Onlineangebotes erforderlich sind. Deren Einsatz erfolgt auf der Grundlage unseres Interesses und des
        Interesses der Nutzer an der erwarteten Funktionsfähigkeit unseres Onlineangebotes.
    </p>
    <ul>
        <li><b>Verarbeitete Datenarten: </b>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
            Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li><b>Betroffene Personen: </b>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li><b>Rechtsgrundlagen: </b>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f. DSGVO).
        </li>
    </ul>
    <h4>Chatbots und Chatfunktionen</h4>
    <p>Wir bieten als Kommunikationsmöglichkeit einen so genannten "Chatbot“ an. Bei einem Chatbot handelt es sich um
        eine Software, die Fragen der Nutzer beantwortet oder sie über Nachrichten informiert. Wenn Sie sich mit unserem
        Chatbot unterhalten, können wir Ihre personenbezogenen Daten verarbeiten.
    </p>
    <p>Falls Sie mit dem Chatbot innerhalb einer Online-Plattform kommunizieren, wird zusätzlich Ihre
        Identifikationsnummer innerhalb der jeweiligen Plattform gespeichert. Wir können zudem Informationen darüber
        erheben, welche Nutzer wann mit unserem Chatbot interagieren. Ferner speichern wir den Inhalt Ihrer
        Konversationen mit dem Chatbot und protokollieren Registrierungs- und Einwilligungsvorgänge, um diese nach
        gesetzlichen Vorgaben nachweisen zu können.
    </p>
    <p>Wir weisen Sie, darauf hin, dass der jeweilige Plattformanbieter in Erfahrung bringen kann, dass und wann Nutzer
        mit unserem Chatbot kommunizieren sowie technische Informationen zum verwendeten Gerät der Nutzer und je nach
        Einstellungen ihres Gerätes auch Standortinformationen (sogenannte Metadaten) zu Zwecken der Optimierung der
        jeweiligen Dienste und Zwecken der Sicherheit erheben kann. Ebenfalls könnten die Metadaten der Kommunikation
        via Chatbot (d.h. z.B., die Information, wer mit wem kommuniziert hat) durch die jeweiligen Plattformanbieter
        nach Maßgabe ihrer Bestimmungen, auf die wir zwecks weiterer Information verweisen, für Zwecke des Marketings
        oder zur Anzeige auf Nutzer zugeschnittener Werbung verwendet werden.
    </p>
    <p>Sofern Nutzer sich gegenüber dem Chatbot bereiterklären, Informationen mit regelmäßigen Nachrichten zu
        aktivieren, steht ihnen jederzeit die Möglichkeit zur Verfügung, die Informationen für die Zukunft
        abzubestellen. Der Chatbot weist Nutzer darauf hin, wie und mit welchen Begriffen sie die Nachrichten
        abbestellen können. Mit dem Abbestellen der Chatbotnachrichten werden Daten der Nutzer aus dem Verzeichnis der
        Nachrichtenempfänger gelöscht.
    </p>
    <p>Die vorgenannten Angaben nutzen wir, um unseren Chatbot zu betreiben, z.B., um Nutzer persönlich anzusprechen, um
        ihre Anfragen gegenüber dem Chatbot zu beantworten, etwaige angeforderte Inhalte zu übermitteln und auch, um
        unseren Chatbot zu verbessern (z.B., um ihm Antworten auf häufig gestellte Fragen "beizubringen“ oder
        unbeantwortete Anfragen zu erkennen).
    </p>
    <p><b>Hinweise zu Rechtsgrundlagen:</b>Wir setzen den Chatbot auf Grundlage einer Einwilligung ein, wenn wir zuvor
        eine Erlaubnis der Nutzer in die Verarbeitung ihrer Daten durch den Chatbot eingeholt haben (dies gilt für die
        Fälle, in denen Nutzer um eine Einwilligung gebeten werden, z.B., damit der Chatbot ihnen regelmäßig Nachrichten
        zusendet). Sofern wir den Chatbot einsetzen, um Anfragen der Nutzer zu unseren Leistungen oder unserem
        Unternehmen zu beantworten, erfolgt dies zur vertraglichen und vorvertraglichen Kommunikation. Im Übrigen setzen
        wir den Chatbot auf Grundlage unserer berechtigten Interessen an einer Optimierung des Chatbots, dessen
        Betriebswirtschaftlichkeit sowie einer Steigerung der positiven Nutzererfahrung ein.
    </p>
    <p><b>Widerruf, Widerspruch und Löschung: </b>Sie können jederzeit eine erteilte Einwilligung widerrufen oder der
        Verarbeitung Ihrer Daten im Rahmen unserer Chatbotnutzung widersprechen.
    </p>
    <ul>
        <li><b>Verarbeitete Datenarten: </b>Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben,
            Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten),
            Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
        <li><b>Betroffene Personen: </b>Kommunikationspartner, Nutzer (z.B. Webseitenbesucher, Nutzer von
            Onlinediensten).</li>
        <li><b>Zwecke der Verarbeitung: </b>Kontaktanfragen und Kommunikation, Direktmarketing (z.B. per E-Mail oder
            postalisch), Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher), Tracking
            (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies), Remarketing,
            Besuchsaktionsauswertung, Profiling (Erstellen von Nutzerprofilen), Konversionsmessung (Messung der
            Effektivität von Marketingmaßnahmen).
        </li>
        <li><b>Rechtsgrundlagen: </b>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO), Berechtigte Interessen (Art. 6 Abs.
            1 S. 1 lit. f. DSGVO).
        </li>
    </ul>
    <h4>Bereitstellung des Onlineangebotes und Webhosting</h4>
    <p>Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen wir die Leistungen von einem oder
        mehreren Webhosting-Anbietern in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern) das
        Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und Plattformdienstleistungen,
        Rechenkapazität, Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und technische
        Wartungsleistungen in Anspruch nehmen.</p>
    <p>
        Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten Daten können alle die Nutzer unseres
        Onlineangebotes betreffenden Angaben gehören, die im Rahmen der Nutzung und der Kommunikation anfallen. Hierzu
        gehören regelmäßig die IP-Adresse, die notwendig ist, um die Inhalte von Onlineangeboten an Browser ausliefern
        zu können, und alle innerhalb unseres Onlineangebotes oder von Webseiten getätigten Eingaben.
    </p>
    <p><b>Erhebung von Zugriffsdaten und Logfiles: </b>Wir selbst (bzw. unser Webhostinganbieter) erheben Daten zu jedem
        Zugriff auf den Server (sogenannte Serverlogfiles). Zu den Serverlogfiles können die Adresse und Name der
        abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über
        erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte
        Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören.
    </p>
    <p>Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der
        Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum
        anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen.
    </p>
    <ul>
        <li><b>Verarbeitete Datenarten: </b>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B.
            besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten), Meta-/Kommunikationsdaten (z.B.
            Geräte-Informationen, IP-Adressen).
        </li>
        <li><b>Betroffene Personen: </b>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li><b>Rechtsgrundlagen: </b>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).</li>
    </ul>
    <h4>Plugins und eingebettete Funktionen sowie Inhalte</h4>
    <p>Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen
        Anbieter (nachfolgend bezeichnet als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um
        Grafiken, Videos oder Social-Media-Schaltflächen sowie Beiträge handeln (nachfolgend einheitlich bezeichnet als
        "Inhalte”).
    </p>
    <p>
        Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer verarbeiten,
        da sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die
        Darstellung dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden, deren
        jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner
        sogenannte Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons" bezeichnet) für statistische oder
        Marketingzwecke verwenden. Durch die "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den Seiten
        dieser Webseite, ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der
        Nutzer
        gespeichert werden und unter anderem technische Informationen zum Browser und zum Betriebssystem, zu
        verweisenden
        Webseiten, zur Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten als auch mit
        solchen
        Informationen aus anderen Quellen verbunden werden.
    </p>
    <p><b>Hinweise zu Rechtsgrundlagen: </b>Sofern wir die Nutzer um deren Einwilligung in den Einsatz der Drittanbieter
        bitten, ist die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die Daten der
        Nutzer auf Grundlage unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen und
        empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang möchten wir Sie auch auf die Informationen
        zur Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.
    </p>
    <p><b>Einbindung von Drittsoftware, Skripten oder Frameworks (z. B. jQuery): </b>Wir binden in unser Onlineangebot
        Software ein, die wir von Servern anderer Anbieter abrufen (z.B. Funktions-Bibliotheken, die wir zwecks
        Darstellung oder Nutzerfreundlichkeit unseres Onlineangebotes verwenden). Hierbei erheben die jeweiligen
        Anbieter die IP-Adresse der Nutzer und können diese zu Zwecken der Übermittlung der Software an den Browser der
        Nutzer sowie zu Zwecken der Sicherheit, als auch zur Auswertung und Optimierung ihres Angebotes verarbeiten.
    </p>
    <ul>
        <li><b>Verarbeitete Datenarten: </b>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
            Zugriffszeiten), Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li><b>Betroffene Personen: </b>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li><b>Zwecke der Verarbeitung: </b>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit,
            Vertragliche Leistungen und Service.
        </li>
        <li><b>Rechtsgrundlagen: </b>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO).
        </li>
    </ul>
    <b>Eingesetzte Dienste und Diensteanbieter:</b>
    <ul>
        <li><b>Google Fonts: </b>Wir binden die Schriftarten ("Google Fonts") des Anbieters Google ein, wobei die Daten
            der Nutzer allein zu Zwecken der Darstellung der Schriftarten im Browser der Nutzer verwendet werden. Die
            Einbindung erfolgt auf Grundlage unserer berechtigten Interessen an einer technisch sicheren, wartungsfreien
            und effizienten Nutzung von Schriftarten, deren einheitlicher Darstellung sowie unter Berücksichtigung
            möglicher lizenzrechtlicher Restriktionen für deren Einbindung. Dienstanbieter: Google Ireland Limited,
            Gordon House, Barrow Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway,
            Mountain View, CA 94043, USA; Website:<a href="https://fonts.google.com/">https://fonts.google.com/</a> ;
            Datenschutzerklärung:
            <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy Shield
            (Gewährleistung Datenschutzniveau bei Verarbeitung von
            Daten in den USA):<a
                href="https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active.">https://www.privacyshield.gov/participant?id=a2zt0000000TRkEAAW&status=Active.</a>
        </li>
        <li><b>OpenStreetMap: </b>Wir binden die Landkarten des Dienstes \"OpenStreetMap\" ein, die auf Grundlage der
            Open Data Commons Open Database Lizenz (ODbL) durch die OpenStreetMap Foundation (OSMF) angeboten werden.
            Die Daten der Nutzer werden durch OpenStreetMap ausschließlich zu Zwecken der Darstellung der
            Kartenfunktionen und zur Zwischenspeicherung der gewählten Einstellungen verwendet. Zu diesen Daten können
            insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im
            Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen) erhoben werden. Dienstanbieter:
            OpenStreetMap Foundation (OSMF); Website: <a href="https://www.openstreetmap.de">https://www.openstreetmap.de</a>; Datenschutzerklärung:
            <a href="https://wiki.openstreetmap.org/wiki/Privacy_Policy.">https://wiki.openstreetmap.org/wiki/Privacy_Policy.</a>
        </li>
    </ul>
    <a href="https://datenschutz-generator.de/?l=de">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a>
</div>
