
hr{
    border-color: black;

}

#maincontainer{
    padding: 5%;
    margin: 2%;
    margin-top: 0;
}


.category:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.category{
    transition: 0.5s;
    margin-bottom: 30px;
    border: 1px solid rgba(7, 6, 6, 0.123);
}

.header-row{
    border-bottom: 2px solid black;
}
mdb-card-body{
    border-top:1px solid rgba(7, 6, 6, 0.123);
    
}
mdb-card-title{
    color: #812323;
}
.nav-link{
    color: #812323;
}
.nav-pills .nav-link.active{
    background-color:#812323 ;
}

.button-link{
    background-color:#812323 ;
    color: white;
}
@media (max-width: 576px) { 
  
    #kategorien-hr{
        visibility: visible !important;
     }

 }

 #kategorien-hr{
    visibility: hidden;
 }
 #inhalt-hr{
    visibility: hidden;
 }
 .form-control:focus{
    box-shadow: 0 0 0 0.2em rgba(129, 35, 35, 0.25);
    border: none;
}



