<mdb-card id="about" style="background-image: url('/assets/images/mosbach_about_img.jpg')" class="card-image mt-0">

  <div class="text-white text-center  justify-content-center d-flex rgba-black-strong py-5 px-4">
    <div>
      <h5>
        <mdb-icon fas icon="chart-pie"></mdb-icon>
        GeoMosbach
      </h5>
      <h3 class="card-title pt-2"><strong>About</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.<br><br><br><br></p>
    </div>
  </div>

</mdb-card>


<div id="maincontainer">
  <div class="row">

    <div class="col-sm-2 mb-4">
        <hr id="inhalt-hr">
        <h3>Inhalte</h3>
      
      <div class="nav flex-column nav-pills  mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active mb-1" id="v-pills-home-tab" data-toggle="pill" href="menu#Kategorien" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Kategorien</a>
        <a class="nav-link active mb-1" id="v-pills-profile-tab" data-toggle="pill" href="menu#API" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">API</a>
        <a class="nav-link active mb-1" id="v-pills-messages-tab" data-toggle="pill" href="menu#Vorschlaege" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Vorschläge einreichen</a>

      </div>
    </div>

    <div class="col-sm-10">
      <hr id="kategorien-hr">
      <h3>Kategorien</h3>
      <a name="Kategorien"></a>
     


      <div class="row mb-4 mt-4">

        <div *ngFor="let category of categories" class="col-sm-3 d-flex align-items-stretch animated bounceInLeft ">

          <a routerLink="/map/{{category.title}}">

            <mdb-card class="category">
              <!--Card image-->
              <mdb-card-img src="/assets/images/icons/muell.png" alt="Card image cap"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4>{{category.title}}</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> {{category.description}}
                </mdb-card-text>


              </mdb-card-body>
            </mdb-card>
          </a>

        </div>
      </div>
      <!--  <div class="row mb-5 header-row">
        <h3>API</h3>
        <a name="API"></a>
      </div> -->
      <a name="API"></a>
      <hr>
      <div class="row mb-5">
        <div class="col-md-7 order-md-2 ">
          <h2>API</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea
            takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a mdbBtn routerLink="/api" role="button" class="button-link" mdbWavesEffect>Zur API Dokumentation</a>
        </div>
        <div class="col-md-5 order-md-1 mt-2">
          <svg class=" img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img"></svg>
        </div>
      </div>
      <!--  <div class="row mb-4">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a mdbBtn routerLink="/api" role="button" class="button-link" mdbWavesEffect>Zur API Dokumentation</a>
      </div> -->
     <!--  <div class="row mb-5 header-row">
        <h3>Vorschläge für das GeoPortal einrreichen</h3>
        <a name="Vorschlaege"></a>
      </div> -->
      <a name="Vorschlaege"></a>
      <hr>
      <div class="row mb-5">
        <div class="col-md-7 order-md-1 ">
          <h2>Vorschläge einreichen</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea
            takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <a mdbBtn routerLink="/vorschlaege_einreichen" role="button" class="button-link" mdbWavesEffect>Zum
            Vorschlagsportal</a>
        </div>
        <div class="col-md-5 order-md-2 mt-2">
          <svg class=" img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img"></svg>
        </div>
      </div>
      <!-- <div class="row">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a mdbBtn routerLink="/vorschlaege_einreichen" role="button" class="button-link" mdbWavesEffect>Zum Vorschlagsportal</a>
      </div> -->

    </div>
  </div>
</div>