<mdb-card id="about" style="background-image: url('/assets/images/about.jpg')" class="card-image mt-0">
  <div id="overlay">
  <div class="text-white text-center  justify-content-center d-flex rgba-black-strong py-5 px-4">
    <div>
      <h5>
        <mdb-icon fas icon="chart-pie"></mdb-icon>
        GeoMosbach
      </h5>
      <h3 class="card-title pt-2"><strong>About</strong></h3>
      <p>Willkommen bei GeoMosbach,
        einem Projekt der DHBW Mosbach. Auf dieser Seite werden nützliche Daten aller Art für Bürger der Stadt Mosbach
        sowie alle Interessierten angeboten. <br>
        Unser Ziel ist es,
        jedem auf einfache und verständliche Weise einen einheitlichen Zugang zu Geolocations-Daten im Stadtgebiet von
        Mosbach zu gewähren<br><br><br><br></p>
    </div>
  </div>
  </div>

</mdb-card>


<div id="maincontainer">
  <div class="row">
    <div class="col-sm-2 mb-4">
      <hr id="inhalt-hr">
      <h3>Inhalte</h3>
      <div class="nav flex-column nav-pills  mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active mb-1" id="v-pills-home-tab" data-toggle="pill" href="menu#Kategorien" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Kategorien</a>
        <a class="nav-link active mb-1" id="v-pills-profile-tab" data-toggle="pill" href="menu#API" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">API</a>
        <a class="nav-link active mb-1" id="v-pills-messages-tab" data-toggle="pill" href="menu#Vorschlaege" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Vorschläge einreichen</a>
      </div>
    </div>

    <div class="col-sm-10">
      <hr id="kategorien-hr">
      <h3>Kategorien</h3>
      <a name="Kategorien"></a>



      <div class="d-flex flex-row align-items-center mt-3">
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
        <input class="form-control form-control-sm ml-3" [(ngModel)]="searchTerm" (ngModelChange)="search()" type="text"
          placeholder="Suchen Sie Kategorien, Orte, Schlüsselwörter.." aria-label="Search" mdbInput>
      </div>




      <div class="row mb-4 mt-4" [ngStyle]="{'display': searchTermLength == 0 || searchTerm == null ? 'flex' : 'none'}">

        <div *ngFor="let category of categories" class="col-sm-3 d-flex align-items-stretch animated bounceInLeft ">

          <mdb-card class="category">
            <!--Card image-->
            <a class="category-link" routerLink="/map/{{category.title}}">
              <mdb-card-img src="{{category.image}}" alt="Card image cap"> </mdb-card-img>
            </a>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <a class="category-link" routerLink="/map/{{category.title}}">
                  <h4>{{category.title}}</h4>
                </a>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text> <a class="category-link" routerLink="/map/{{category.title}}">{{category.description}}
                </a>
              </mdb-card-text>


            </mdb-card-body>
          </mdb-card>

        </div>
      </div>


      <div class="row mb-4 mt-4"
        [ngStyle]="{'display': searchTermLength == 0 || searchTerm == null  ? 'none' : 'flex'}">

        <div *ngFor="let category of searchCategories"
          class="col-sm-3 d-flex align-items-stretch animated bounceInLeft ">



          <mdb-card class="category">
            <!--Card image-->
            <a routerLink="/map/{{category.title}}">
              <mdb-card-img src="{{category.image}}" alt="Card image cap"></mdb-card-img>
            </a>
            <!--Card content-->
            <mdb-card-body>

              <!--Title-->
              <mdb-card-title>
                <a routerLink="/map/{{category.title}}">
                  <h4>{{category.title}}</h4>
                </a>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                <div *ngFor="let subcategory of subcategories"
                  [ngStyle]="{'display': subcategory.id_category == category.id  ? 'block' : 'none' }">
                  <mdb-icon fas icon="angle-right" class="mr-2"></mdb-icon> <a routerLink="/map/{{category.title}}"
                    [queryParams]="{'selectedSubcategory': subcategory.title }"
                    [ngStyle]="{'color': subcategory.title.match(searchRegex)  ? '#812323': 'inherit' }">{{subcategory.title}}</a>
                </div>
              </mdb-card-text>


            </mdb-card-body>
          </mdb-card>


        </div>
      </div>

      <div class="alert alert-light" role="alert" *ngIf="searchCategoriesLength == 0 && searchTermLength > 0">
        <p>
          <mdb-icon fas icon="angle-right" class="mr-2"></mdb-icon>
          <span>Es wurden keine passenden Suchergebnisse
            gefunden.</span>
        </p>
      </div>
      <!--  <div class="row mb-5 header-row">
        <h3>API</h3>
        <a name="API"></a>
      </div> -->
      <a name="API"></a>
      <hr>
      <div class="row">
        <div class="col-md-7 order-md-2">
          <div class="d-flex flex-row-reverse">
            <div>
              <h2>API</h2>
              <p>API steht für "Application Programming Interface” und stellt eine programmierbare Schnittstelle für
                GeoMosbach dar.
                Hier können die Daten, die auf der Seite GeoMosbach dargestellt werden,
                über eine auf dem http-Protokoll basierende Schnittstelle zur Nutzung für Ihre Programme abgerufen
                werden.
                <br><br>
                Bitte beachten Sie: Der Button leitet Sie auf eine externe Webseite weiter.
              </p>
              <a mdbBtn href="{{apiUrl}}" role="button" class="button-link" mdbWavesEffect>Zur API
                Dokumentation</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 order-md-1 mt-2">
          <img src="./assets/images/API.png" width="300px" height="300px">
        </div>
      </div>
      <!--  <div class="row mb-4">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a mdbBtn routerLink="/api" role="button" class="button-link" mdbWavesEffect>Zur API Dokumentation</a>
      </div> -->
      <!--  <div class="row mb-5 header-row">
        <h3>Vorschläge für das GeoPortal einrreichen</h3>
        <a name="Vorschlaege"></a>
      </div> -->
      <a name="Vorschlaege"></a>
      <hr>
      <div class="row mb-5">
        <div class="col-md-7 order-md-1 ">
          <h2>Vorschläge einreichen</h2>
          <p>Ihnen fehlt ein Punkt in einer vorhandenen Kategorie? <br>
            Bitte reichen Sie uns hier Ihre Vorschläge ein.
            Wir sind dankbar für jede Unterstützung, um dieses Portal für alle Bürger der Stadt Mosbach zu verbessern.
            Jeder Vorschlag wird durch einen Mitarbeiter der Stadt geprüft, um die Qualität der Vorschläge zu
            gewährleisten, und daraufhin eingepflegt.</p>
          <a mdbBtn routerLink="/vorschlaege_einreichen" role="button" class="button-link" mdbWavesEffect>Zum
            Vorschlagsportal</a>
        </div>
        <div class="col-md-5 order-md-2 mt-2">
          <img src="./assets/images/Vorschlaege.png" width="300px" height="300px">
        </div>
      </div>
      <!-- <div class="row">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a mdbBtn routerLink="/vorschlaege_einreichen" role="button" class="button-link" mdbWavesEffect>Zum Vorschlagsportal</a>
      </div> -->

    </div>
  </div>
</div>