


#maincontainer{
    padding: 5%;
    margin: 2%;
}


.category:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.category{
    transition: 0.5s;
    margin-bottom: 30px;
    border: 1px solid rgb(174, 200, 212);
}

.header-row{
    border-bottom: 2px solid black;
}
mdb-card-body{
    border-top:1px solid rgb(174, 200, 212); ;
    
}
mdb-card-title{
    color: #812323;
}
.nav-link{
    color: #812323;
}

.button-link{
    background-color:#812323 ;
    color: white;
}
@media (max-width: 576px) { 
    #maincontainer{
    border: hidden;

    }
    #inhalte{
        border-bottom: 2px solid black;
    }
    #inhalt-col{
        margin-bottom: 20px;
    }

 }


