<div id="about">
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>


<div id="maincontainer" class="container-fluid">
    <div class="row">
        <div *ngFor="let category of categories" class="col-sm-3 d-flex align-items-stretch ">

            <a routerLink="/map/{{category.title}}">

                <mdb-card>
                    <!--Card image-->
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                    <!--Card content-->
                    <mdb-card-body>
                  
                      <!--Title-->
                      <mdb-card-title>
                        <h4>{{category.title}}</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> {{category.description}}
                      </mdb-card-text>
                  
                      
                    </mdb-card-body>
                  </mdb-card>
            </a>

        </div>
    </div>
</div>