<div class="container mt-5">


    <h2>Ihre Vorschläge sind gefragt !</h2>
    <p>Vielen Dank, dass Sie GeoMosbach mit Ihrem Vorschlag verbessern möchten.
        Bitte geben Sie uns für eventuelle Rückfragen Ihre persönlichen Daten sowie eine Kontakt-E-Mail-Adresse an.
        Um Ihren Vorschlag richtig zuzuordnen, wählen Sie bitte eine entsprechende Kategorie aus und beschreiben uns
        Ihren Vorschlag kurz.
        Hierbei bitten wir Sie, neben der Angabe von Name und Funktion Ihres Vorschlags,
        uns den Standort des Vorschlags (entweder in Form des Straßennamens und der Hausnummer oder durch Angabe der
        Koordinaten) mitzugeben,
        um Ihren Vorschlag auf der Karte darstellen zu können.
        <br><br>
        Ihre persönlichen Daten wie auch Ihr Vorschlag werden vertraulich behandelt und nicht an Dritte weitergegeben.
        Nach der gesetzlichen Aufbewahrungspflicht werden diese gelöscht.</p>





    <form class="p-5" [formGroup]="submissionForm" (ngSubmit)="onSubmit()">

        <p class="h4 mb-4">Formular</p>

        <!-- Name -->
        <input type="text" formControlName="contactFormName" id="FormName" mdbInput class="form-control mb-4"
            placeholder="Vorname">
        <!-- Last Name -->
        <input type="text" formControlName="contactFormLastName" id="FormLastName" mdbInput class="form-control mb-4"
            placeholder="Nachname">

        <!-- Email -->
        <input type="email" formControlName="contactFormEmail" id="FormEmail" mdbInput class="form-control mb-4"
            placeholder="E-Mail">

        <!-- Category-->
        <label><b>Kategorie</b></label>
        <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
            <option value="" disabled>Option auswählen</option>
            <option *ngFor=" let category of categories" value="{{category.id}}" selected>{{category.title}}</option>
        </select>

        <!-- Message -->
        <div class="form-group">
            <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="FormMessage"
                rows="3" placeholder="Ihr Vorschlag"></textarea>
        </div>


        <label id="check-container">
            <input id="checkbox" type="checkbox">
            <span id="checkmark"></span>
        </label>
        <span class="ml-4">Eine Kopie dieses Vorschlags an meine E-Mail-Adresse schicken</span>

        <!-- Submit button -->
        <button mdbBtn block="true" class="btn z-depth-0 my-4 waves-effect" mdbWavesEffect type="submit">Vorschlag
            einreichen</button>


    </form>

    <div mdbModal #frameModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-frame modal-bottom" role="document">
            <div class="modal-content">
                <div class="modal-body text-center" style="border:none">

                    <h3 style="display: inline;" class="mr-3">Ihr Vorschlag wurde verschickt</h3>
                    <mdb-icon far icon="envelope" size="2x" style="transform: translateY(2px);"></mdb-icon>
                </div>
                <div class="modal-footer justify-content-center" style="border:none">
                    <button type="button" mdbBtn class="waves-light" aria-label="Close" (click)="frameModal.hide()"
                        mdbWavesEffect>Schließen</button>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="formInvalid" class="alert alert-danger">
        Das Formular ist nicht vollständig ausgefüllt
    </div>


    <div *ngIf="contactFormEmail.invalid && (contactFormEmail.dirty || contactFormEmail.touched)"
        class="alert alert-danger">

        <div *ngIf="contactFormEmail.errors.required">
            Das Feld E-Mail muss ausgefüllt sein
        </div>
        <div *ngIf="contactFormEmail.errors.email">
            Das Feld E-Mail muss eine gültige E-Mail-Adresse enthalten
        </div>
    </div>


    <div *ngIf="contactFormName.invalid && (contactFormName.dirty || contactFormName.touched)"
        class="alert alert-danger">

        <div *ngIf="contactFormName.errors.required">
            Das Feld Name muss ausgefüllt sein
        </div>
    </div>

    <div *ngIf="contactFormLastName.invalid && (contactFormLastName.dirty || contactFormLastName.touched)"
        class="alert alert-danger">

        <div *ngIf="contactFormLastName.errors.required">
            Das Feld Nachname muss ausgefüllt sein
        </div>
    </div>


    <div *ngIf="contactFormSubjects.invalid && (contactFormSubjects.dirty || contactFormSubjects.touched)"
        class="alert alert-danger">

        <div *ngIf="contactFormSubjects.errors.required">
            Das Feld Kategorie muss ausgefüllt sein
        </div>
    </div>

    <div *ngIf="contactFormMessage.invalid && (contactFormMessage.dirty || contactFormMessage.touched)"
        class="alert alert-danger">

        <div *ngIf="contactFormMessage.errors.required">
            Das Feld Ihr Vorschlag muss ausgefüllt sein
        </div>
    </div>

</div>